main {
	margin: auto;
}
form .form-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
form .form-column:last-child {
	margin-bottom: 0;
}
form .form-row{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}
.form-row .blue{
	color: white;
	background-color: rgba(0, 0, 230, 0.74);
}
.form-row .red{
	color: white;
	background-color: rgba(255, 0, 0, 0.74);
}
label {
	text-align: center;
}
.hidden{
	display: none;
}